canvas {
    width: 630px;
    height: 430px;
    background: url('../img/tareauno.png');
}

.pizarron{
    text-align: center;
}

body{
    background-color: #03962a;
}
td{
	width: 55px;
	height: 55px;
}

.colores{
	 float: right;
	 margin-right: 200px;
	 border-radius: 4px;
	border: solid black;
	background-color: white;
}

.rojo{
	background-color: #ff0505;
}

.azul{
background-color:#3100d1;
}

.amarillo{
background-color:#fcf923;
}

.verde{
	background-color:#00ba31;
}

.negro{
	background-color:#000000;
}

.rosa{
	background-color: #ff038d;
}

.naranja{
	background-color: #fa822d;
}

.violeta{
	background-color: #6217e3;
}
.celeste{
	background-color: #17b7e3;
}

.marron{
	background-color: #755b28;
}
.imagen{
	width: 90px;
	height: 90px;
	border-radius: 50px;
}


